body {
    background-color: color-mix(in lab, royalblue 50%, cornflowerblue 50%);
    text-align: center;
    color: white;
    font-family: cursive;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    /* border: 1px solid #ddd; */
    font-size: 25px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 7px;
}

th {
    background-color: whitesmoke;
    color: cornflowerblue;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgb(168, 89, 237);
}

tr:nth-child(odd) {
    background-color: rgb(108, 37, 238);
    ;
}

tr:hover {
    background-color: rgb(6, 6, 215);
}